@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+PL:wght@100..400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
    
}
body{
    background-color: black;
}
.container{
    width: 90%;
    max-width: 400px; ;
    background: linear-gradient(to bottom, #87ceeb 20%, #1c8da9 80%);
    color: white;
    margin: 100px auto 0 ;
    border-radius: 10px;
    padding: 30px 25px;
    text-align: center;
}
::placeholder{
    margin-left: 20px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
 border: 0;
 outline: 0;   
 padding-left: 30px;
 height: 50px;
 border-radius: 30px;
 flex: 1;
 margin-right: 15px;
 font-size: 17px;
 background: #f8f9fa;
color: black;
}
.search button{
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    background: #fdffff;
}

.search button svg{
    width: 25px;    
}
.weather svg{
    width: 100px;
    height: 100px;
}
.col img{
    width: 50px;
    margin-right: 15px;
}
.weathericon {
    margin-top: 30px;
    width: 150px;
}
.weather  h1 {
    font-size: 30px;
    margin-top: 20px;
}
.weather h2{
    font-size: 40px;
    margin-top: 5px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 12px;
}
.humidity , .wind {
    font-size: 23px;
    margin-top: -10px;
}
.weather{
    display: none;
}